*{
    margin: 0;
    box-sizing: border-box;
}

@import 'listas';
body{
    
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-color: $color-fondo;
}
.header{
    background-color: $color-general;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: map-get($size, 1 );
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu{
    display: flex;
    margin-right: map-get($size, 2 );
    list-style: none;
}

.nav-menu-item{
    font: map-get($size, 4 );
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
    
}
.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: rgb(95, 240, 95);
    transition: 0.5s;
}
.boton{
    color: rgb(17, 49, 17);
    background: none;
    border: none;
    font-size: map-get($size, 1 );
    padding: 0 20px;
    line-height: map-get($size, 5);
    cursor: pointer;
    display: none;

}
@media (max-width: 768px) {
    body{
       padding-top: 70px;
    }
    .header{
        height: map-get($size, 5 );
    
    }
    
    
    .logo{
        font-size: 25px;
        font-weight: bold;
        padding: 0 20px;
        line-height: map-get($size, 5 );
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #203e50;
        position: fixed;
        left: 0;
        top: map-get($size, 5 );
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;

    }
    
    .nav-menu-item{
       line-height: 70px;
    }
    
    .nav-menu-link{
        padding: 8px 12px;
        border-radius: 5px;
        
    }
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background-color: none;
        color: #203e50; 
    }
    .boton{
        display: block;
    }
    .nav-menu-visible{
        left: 0;
    }
    
}


div h2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    color: white;
    font-size: 25px;
}

.galeria{
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.galeria li{
    margin: 20px;
    border: 3px solid rgb(46, 179, 46) ;
    text-align: center;
    border-radius: 10px;
    transition: all 10px ;

}
.galeria img{
    width: 300px;
    height: 300px;
   

}
.galeria li:hover{
    transform: scale(1.15);
    transition: 0.3s;
}
li p{
    color: white;
}
.descripcion{
    color: white;
    
    
}
.bienvenida{
    font-size: map-get($size, 1 );
    text-align: center;
    margin-bottom: 7%;
    margin-top: 5%;
}
.tituloh4{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.como-comprar{
    color: white;
    text-align: center;
    list-style: none;
    
}
.introduccionh3{
    color: white;
    margin-bottom: 2%;
    font-size: 25px;
    text-align: center;
}
.pagina-introduccion{
    color: white;
    justify-content: center;
    margin-bottom: 5%;
    
}

section h4{
    color: white;
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
   
}
section iframe{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 80%;
    height: 500px;
    margin-left: 10%;
    
    
}
section h5{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}
.ulredes{
    display: flex;
    justify-content: space-around;
    
    
    list-style: none;
    margin-top: 30px;
    color: $color-iconos;
    justify-content: center;
}
.icons{
    width: 100px;
    height: 100px;
    font-size: 40px;
    margin-top: 50px;
}
section{
ul{
    li{
        a{
           .fa-brands{
               color: $color-iconos;
               transition: all 10px ;
               .fa-brands:hover{
                transform: scale(1.15);
                transition: 0.3s;
               }

            }
        }
    }
}  
}      
   


section{
    iframe{
        border-radius: 20px;
        border-style: none;
    }
}
